import os
import sys

sys.path.append(os.path.dirname(os.path.realpath(__file__)))

import beancount_ethereum

if __name__ == '__main__':
    from beangulp import ingest

    importers = [
        beancount_ethereum.importer.Importer(config_path='config.json', import_balances=True),
    ]

    ingest.main(importers)
